<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" maxlength="50" placeholder="Facultate"
            name="facultate" value="{{this.facultate}}">
        <label for="floatingInput">Facultate</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" maxlength="10" id="floatingInput" placeholder="Grupa" name="grupa"
            value="{{this.grupa}}">
        <label for="floatingInput">Grupa</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" maxlength="20" placeholder="Profesor coordonator"
            name="profesor_coordonator" value="{{this.profesor_coordonator}}">
        <label for="floatingInput">Profesor coordonator</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" maxlength="30" id="floatingInput"
            placeholder="E-mail profesor coordonator" name="email_profesor_coordonator"
            value="{{this.email_profesor_coordonator}}">
        <label for="floatingInput">E-mail profesor coordonator</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" maxlength="10"
            placeholder="Telefon profesor coordonator" name="telefon_profesor_coordonator"
            value="{{this.telefon_profesor_coordonator}}">
        <label for="floatingInput">Telefon profesor coordonator</label>
    </div>
</div>

<div class="col-12 alb">
    Orar
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Orar" name="orar" maxlength="750"
            style="height:200px;">{{this.orar}}</textarea>
        <label for="floatingInput"></label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>