<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/grupa/{{grupamea}}">Catalog {{grupamea}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">New student</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if message}}
    <h4 class="error-message">{{message}}</h4>
{{/if}}
{{#if succesMessage}}
    <h4 class="error-message">{{succesMessage}}<h3>
{{/if}}

<form class="row g-3 needs-validation" method="POST" action="/grupa/{{grupamea}}/student-add" novalidate>
    {{> student-form}}
</form>

