

{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
Deleted succesfully.
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
<div class="col-6"><h1>Studenti  {{grupamea}}</h1></div>
<div class="col-6 d-flex justify-content-end">
<a href="/grupa/{{grupamea}}/student-add" type="button" class="btn btn-primary align-self-center">+Add student</a> 
</div>
</div>

<table class="table table-bordered table-hover">
<thead class="thead-dark">
<tr>
    <th scope="col">#</th>
    <th scope="col">Nume</th>
    <th scope="col">Prenume</th>
    <th scope="col">E-mail</th>
    <th scope="col">Telefon</th>
    <th scope="col" class="text-end">Action</th>

</tr>
</thead>
<tbody>

{{#each rows}}
<tr>
    <th scope="row">{{this.id}}</th>
    <td>{{this.nume}}</td>
    <td>{{this.prenume}}</td>
    <td>{{this.email}}</td>
    <td>{{this.telefon}}</td>
    <td class="text-end">
        <a href="grupa/{{this.grupa}}/student-view/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</a>
        <a href="grupa/{{this.grupa}}/student-edit/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
        <a href="grupa/{{this.grupa}}/student-delete/{{this.email}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Delete</a>
    </td>
</tr>
{{/each}}

</tbody>
</table>